<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Posts</title>
</head>

<body>
    <div>
        <a href="/posts/new"><button>Create new post</button></a>
    </div>
    <h1>All posts</h1>
    <ul>
        <% for (let post of posts){%>
            <li>
                <a href="/posts/<%= post._id %>">
                    <%= post.title%>
                </a>
            </li>
            <% } %>
    </ul>
</body>

</html>