<% layout('layouts/boilerplate') %>
    <h1>All posts</h1>
    <ul>
        <% for (let post of posts){%>
            <div class="card" mb-3>
                <div class="row">
                    <div class="col-md-4">
                        <img class="img-fluid" src="<%= post.image%>" alt="">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <div class="card-title">
                                <h5 class="card-title">
                                    <%= post.title%>
                                </h5>
                                <p class="card-text">
                                    <%= post.description %>
                                </p>
                                <a class="btn btn-primary" href="/posts/<%=post.id %>">View Post</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <% } %>
    </ul>