<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <form action="/posts" method="POST">
        <div>
            <input type="text" id="title" name="post[title]" placeholder="Title">
        </div>
        <div>
            <input type="text" id="description" name="post[description]" placeholder="Content">
        </div>
        <div>
            <button>Add Post</button>
        </div>
    </form>
</body>

</html>