<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Show</title>
</head>

<body>

    <h2>
        <%= post.title%>
    </h2>
    <p>
        <%= post.description%>
    </p>
    <footer>
        <p>
            <a href="/posts/<%=post._id%>/edit"><button>Edit</button></a>
        </p>
        <div>
            <form action="/posts/<%=post._id%>?_method=DELETE" method="POST"><button>Delete</button></form>
        </div>
        <a href="/posts">All posts</a>
    </footer>
</body>

</html>